
/* FIRST PAGE */

.greetings-page{
	width: 100%;
	background-color: #3B4352;
	padding-bottom: 3em;
}

nav{
	width: 100%;
	height: 65px;
	background-color: #507EAC;
}

h1{
	font-size: 40px;
	padding: 3.5em 1em 0.3em 1em;
	color: white;
	text-align: center;

}

h2{
	font-size: 17px;
	padding: 0 8em 0 8em;
	color: white;
	text-align: center;
}

.create-site{
	width: 15em;
	height: 3em;
	background-color: #598BBC;
	border: 12px solid #292E37;
	margin: 2em auto 0 auto;
}




/* ARROW IMAGE */

.below-arrow{
	display: block;
	width: 30px;
	padding-top: 12em;
	padding-bottom: 10em;
	margin: 0 auto;
}




/* LIST ON BOTTOM ON FIRST PAGE */

.first-page-list{
	width: 25em;
	height: 6em;
	background-color: white;
	margin: 0 auto 2em auto;

	font-size: 12px;
	color: blue;
}


.q-mark-list{
	height: 100%;
	float: left;
}




/* DIVIDING DIV CONTAINING BASIC TEXT */

.divider-page{
	width: 100%;
	background-color: #EBF0F5;
}

.divider-text{
	font-size: 32px;
	color: #394456;
	text-align: center;
	margin: 0 auto;
	padding: 1em;
}

.icons-page{
	width: 100%;
	height: 1100px;
	background-color: #D2D3D7;
}

footer{
	width: 100%;
	height: 250px;
	background-color: black; 
}